.menuContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-style: solid;
  border-color: var(--node-background-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--node-border-color);
  box-shadow: 0 0 0.1rem 0.1rem var(--node-border-color);
}

.item {
  cursor: pointer;
  appearance: none;
  border: none;
  font-weight: 800;
  color: var(--node-background-color);
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
}

.item:hover {
  background-color: var(--node-background-color);
  color: var(--node-font-color);
  transition: background-color 0.8s ease;
  transition: color 0.4s ease;
}
