.port {
  padding: 0.5rem;
  border-style: solid;
  border-radius: var(--port-border-radius);
  border-width: var(--port-border-width);
  border-color: var(--port-border-color);
  background-color: var(--port-background-color);
  cursor: pointer;
  overflow: visible;
}

.port:hover {
  cursor: pointer;
  border-color: var(--port-border-color-hover);
  transition: border 0.2s;
}

.port:not(:hover) {
  transition: border 0.2s;
}

.port:active {
  cursor: move;
  border-color: var(--port-border-color-active);
  transition: border 0.4s;
}
