.node {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: var(--size-width-node);
  height: var(--size-height-node);
  border-style: solid;
  border-radius: var(--size-border-radius-node);
  border-width: var(--size-border-width-node);
  border-color: var(--color-border-node);
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--color-background-numberNode);
}

.node:active {
  cursor: grabbing;
}

.nodeTitle {
  letter-spacing: 1px;
  margin: 0;
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  font-size: large;
  border: 0.2rem solid #404040;
  border-radius: var(--size-border-radius-node);
}

.portContainerTop {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  width: "100%";
}

.portContainerBottom {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: "100%";
}
