.library {
  grid-area: library;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow-x: scroll;
  margin-inline: -1rem;
  padding-inline: 1rem;
  padding-block-end: 1rem;
  justify-content: start;
}

.item {
  height: 6rem;
  padding: 1ch;
  text-align: center;
  background-color: var(--color-background-primary);
  box-shadow: var(--drop-shadow);
  border: var(--width-border) solid;
  border-color: var(--color-border);
  border-radius: var(--radii-border-large);
  user-select: none;
  aspect-ratio: 1;
}
