.output {
  grid-area: output;
  aspect-ratio: 1;
  border: 2px solid var(--color-border-primary);
  background-color: var(--color-background-secondary);
  display: grid;
  place-items: center;
  color: var(--color-text-primary);
  box-shadow: var(--shadow-primary);
  overflow: scroll;
}

.value {
  font-size: 1.5rem;
}
