.main {
  height: 100%;
}

.main:active {
  cursor: move;
}

.startup {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 2rem;
  margin-top: 0;
  color: var(--node-title-color);
  font-size: larger;
  font-style: italic;
  cursor: default;
  user-select: none;
}

.menuContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--node-background-color);
  box-shadow: 0 0 0.1rem 0.1rem var(--node-box-shadow);
}

.item {
  cursor: pointer;
  appearance: none;
  border: none;
  font-weight: 800;
  background-color: var(--page-background-color);
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  transition: background-color 1s;
  transition: color 1s ease-in-out;
}

.item:hover {
  background-color: var(--content-background-color);
  color: var(--content-font-color);
  transition: color 1s ease;
  transition: background-color 0.4s ease-in-out;
}

.svg {
  width: 100%;
  height: 100%;
}

.path {
  stroke: var(--path-color);
  stroke-width: 4;
  stroke-dasharray: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: stream 0.5s linear infinite;
}

@keyframes stream {
  0% {
    stroke-dashoffset: 16;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.port {
  cursor: pointer;
  border-width: var(--port-border-width);
  border-style: solid;
  border-color: var(--port-border-color);
  border-radius: var(--port-border-radius);
  background-color: var(--port-background-color);
  width: var(--port-width);
  height: var(--port-height);
}

.port:hover {
  cursor: pointer;
}

.port:focus {
  outline-color: var(--focus-outline-color);
}

.port:active {
  cursor: move;
  border-color: var(--port-border-color-active);
  animation: pulse 1.4s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.4);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border-color: var(--port-border-color);
  }
}

.node {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  cursor: grab;
  box-shadow: var(--node-box-shadow);
  border-width: var(--node-border-width);
  border-style: solid;
  border-color: var(--node-border-color);
  border-radius: var(--node-border-radius);
  background-color: var(--node-background-color);
  padding: var(--node-padding);
  width: var(--node-width);
  height: var(--node-height);
  user-select: none;
}

.node:active {
  cursor: grabbing;
}

.value {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: grab;
  border-width: var(--content-border-width);
  border-style: solid;
  border-color: var(--content-border-color);
  border-radius: var(--content-border-radius);
  background-color: var(--content-background-color);
  width: 100%;
  height: 100%;
  color: var(--content-font-color);
  font-weight: 800;
  font-size: x-large;
  user-select: none;
}

.value:active {
  cursor: grabbing;
}

.value:focus {
  outline-color: var(--focus-outline-color);
}

.slider {
  cursor: pointer;
  width: 100%;
}

.slider:focus {
  outline-color: var(--focus-outline-color);
}

.slider:active {
  cursor: move;
}

.selector {
  appearance: none;
  margin-top: 0.5rem;
  border-radius: var(--content-border-radius);
  background-color: var(--content-background-color);
  padding-block: 0.15rem;
  width: 100%;
  color: var(--node-title-color);
  font-weight: 800;
  font-size: medium;
  text-align-last: center;
}

.selector:focus {
  outline-color: var(--focus-outline-color);
}

.inputs {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(-1 * var(--node-border-width));
  justify-content: space-evenly;
  align-items: center;
  width: 0;
  height: '100%';
}

.outputs {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(-1 * var(--node-border-width));
  justify-content: space-evenly;
  align-items: center;
  width: 0;
  height: '100%';
}
