.page {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'graph output'
    'graph properties'
    'library properties';
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr auto;
  gap: 1rem;
  padding: 1rem;
  height: 100svh;
}
