.main {
  height: 100%;
  text-align: center;
}

.main:active {
  cursor: move;
}

.gettingStartedText {
  opacity: 0.5;
  font-size: large;
  font-weight: 500;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.svg {
  height: 100%;
  width: 100%;
  stroke: blue;
  stroke-width: 4;
  stroke-dasharray: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    stroke: red;
  }
  50% {
    stroke: blue;
  }
  100% {
    stroke: purple;
  }
}
