:root {
  --retro-background: #25272e;
  --retro-error: #f44747;
  --retro-debug: #b267e6;
  --retro-warn: #cd9731;
  --retro-info: #6796e6;
  --retro-comment: #bfc2ccb7;
  --retro-markup-table: #eeffff;
  --retro-meta-seperator: #65737e;
  --retro-markup-raw: #c792ea;
  --retro-constant-other: #ffcb6b;
  --retro-string-other: #82aaff;
  --retro-markup-quote: #65737e;
  --retro-markup-underline: #f78c6c;
  --retro-markup-bold: #f07178;
  --retro-markup-heading: #c3e88d;
  --retro-source-json: #c17e70;
  --retro-source-dictionary: #ff5370;
  --retro-comment2: #919b9e;
  --retro-sidebar-background: #272727;
  --retro-diff-border: #444444;
  --retro-editor-forground: #b3b9c5;
  --retro-editor-bracket-background: #101010;
  --retro-hover-background: #383838;
  --retro-status-foreground: #909090;
  --retro-ansci-black: #666666;
  --retro-ansci-bright-black: #777777;
  --retro-ansci-yellow: #ffd479;
  --retro-ansci-red: #f2777a;
  --retro-ansci-blue: #6ab0f3;
  --retro-badge-background: #4a7baa;
  --retro-badge-foreground: #d7dae0;

  color-scheme: light dark;
  accent-color: var(--retro-error);

  --node-height: 8rem;
  --node-width: 8rem;
  --node-border-width: 0.125rem;
  --node-border-radius: 0.35rem;
  --node-box-shadow: 0 0.125rem 0.25rem var(--retro-editor-bracket-background);
  --port-height: 1.5rem;
  --port-width: 1.5rem;
  --port-border-radius: 50%;
  --port-border-width: 0.15rem;
  --content-border-radius: 0.25rem;
  --content-border-width: 0.15rem;
  --stream-color: var(--neutral-500);
  --page-background-color: var(--retro-background);
  --node-background-color: var(--retro-ansci-black);
  --node-border-color: var(--retro-ansci-bright-black);
  --node-title-color: var(--retro-constant-other);
  --port-background-color: var(--retro-comment2);
  --port-border-color: var(--retro-background);
  --port-border-color-active: var(--retro-constant-other);
  --content-font-color: var(--retro-markup-heading);
  --content-border-color: var(--retro-ansci-bright-black);
  --content-background-color: var(--retro-editor-bracket-background);
  --focus-outline-color: var(--retro-debug);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
