:root {
  --node-height: 8rem;
  --node-padding: 0.75rem;
  --node-border-width: 0.125rem;
  --node-border-radius: 0.35rem;
  --port-height: 1.25rem;
  --port-border-radius: 50%;
  --port-border-width: 0.15rem;
  --content-border-radius: 0.35rem;
  --content-border-width: 0.15rem;

  --width-border: 2px;
  --radii-border-large: 8px;
}

:root {
  color-scheme: light;
  --color-background-primary: hsla(0, 0%, 90%, 1);
  --color-background-secondary: hsla(0, 0%, 80%, 1);
  --color-background-tertiary: hsla(0, 0%, 55%, 1);
  --color-border: hsla(0, 0%, 50%, 1);
  --color-stroke: hsla(0, 0%, 0%, 1);
  --drop-shadow: 4px 4px 4px 1px hsla(0, 0%, 0%, 0.33);
}

:root {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --color-background-primary: hsla(0, 0%, 18%, 1);
    --color-background-secondary: hsla(240, 1%, 15%, 1);
    --color-background-tertiary: hsla(0, 0%, 33%, 1);

    --color-border: hsla(0, 0%, 50%, 1);
    --color-stroke: hsla(0, 0%, 100%, 1);
    --drop-shadow: 4px 4px 4px 1px hsla(0, 0%, 0%, 0.33);
  }
}
