.menu {
  position: absolute;
  box-shadow: var(--node-box-shadow);
  border-width: var(--node-border-width);
  border-style: solid;
  border-color: var(--node-border-color);
  border-radius: var(--node-border-radius);
  background-color: var(--node-background-color);
  padding: var(--node-padding);
  user-select: none;
  margin: 0;
}

.item {
  border-style: none;
  cursor: pointer;
  color: var(--content-font-color);
  font-weight: 200;
  font-size: medium;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: color 0.6s ease-in-out;
  transition: transform 0.1s ease-out;
}

.item:hover {
  color: var(--yellow);
  transform: translateY(0.2rem);
}

.item::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--path-color);
  transition: transform 0.1s ease-out;
  transform: scale(0);
}

.item:hover::after {
  transform: scale(1);
}

.item:focus {
  outline-color: var(--focus-outline-color);
}

.title {
  margin: 0;
  font-size: medium;
  text-align: center;
  color: var(--node-title-color);
  background-color: var(--content-background-color);
  border-radius: var(--node-border-radius);
  border-color: var(--content-border-color);
  border-width: var(--content-border-width);
  border-style: solid;
  padding: 0.5rem;
}

.title:focus {
  outline-color: var(--focus-outline-color);
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--content-background-color);
  border-radius: var(--node-border-radius);
  border-color: var(--content-border-color);
  border-width: var(--content-border-width);
  border-style: solid;
  padding: 1rem;
}

.kind {
  margin: 0;
  font-size: large;
  font-weight: 300;
  color: var(--path-color);
  padding-bottom: 0.25rem;
}

.category {
  list-style-type: none;
  padding-bottom: 0.25rem;
  padding-inline-start: 0;
  margin: 0;
}

.type {
  margin: 0;
  padding-bottom: 0.25rem;
  font-size: medium;
  font-weight: 500;
  color: var(--node-title-color);
  text-align: center;
}
