.main {
  height: 100svh;
}

.main:active {
  cursor: move;
}

.svg {
  width: 100svw;
  height: 100svh;
  background: none;
  stroke: var(--path-color);
  stroke-width: 4;
  stroke-dasharray: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: stream 0.5s linear infinite;
  pointer-events: none;
}

@keyframes stream {
  0% {
    stroke-dashoffset: 16;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.title {
  position: absolute;
  top: 2rem;
  color: var(--text-color);
  transform: translateX(50%);
  font-size: 1.5rem;
  opacity: 0.3;
  user-select: none;
}

.directions {
  position: absolute;
  top: 6rem;
  transform: translateX(-50%);
  font-style: italic;
  left: 50%;
  font-size: 1.5rem;
  color: var(--text-color);
  opacity: 0;
  user-select: none;
  animation: fade 3s forwards;
}

.directionsfade {
  position: absolute;
  top: 6rem;
  transform: translateX(-50%);
  left: 50%;
  font-style: italic;
  font-size: 1.5rem;
  color: var(--text-color);
  user-select: none;
  animation: fadeout 2s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.signature {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 2rem;
  font-size: 0.8em;
  color: var(--text-color);
  opacity: 0.3;
  user-select: none;
}
