.library {
  grid-area: library;
  display: grid;
  grid-auto-flow: column dense;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  overflow-x: scroll;
  margin-inline: -1rem;
  padding-inline: 1rem;
  padding-block-end: 1rem;
  justify-content: center;
}

.item {
  height: 6rem;
  padding: 1ch;
  text-align: center;
  background-color: var(--gray-500);
  box-shadow: var(--drop-shadow);
  border: var(--stroke-width) solid;
  border-color: var(--stroke-color);
  border-radius: var(--radii-border-large);
  user-select: none;
  aspect-ratio: 1;
}
