.output {
  grid-area: output;
  background-color: var(--gray-500);
  box-shadow: var(--drop-shadow);
  border: var(--stroke-width) solid;
  border-color: var(--stroke-color);
  border-radius: var(--radii-border-large);
  min-width: 18rem;
  aspect-ratio: 1;
}
