.port {
  cursor: pointer;
  border: var(--port-border-width) solid var(--color-border);
  border-radius: var(--port-border-radius);
  background-color: var(--color-background-primary);
  height: var(--port-height);
  aspect-ratio: 1;
}

.port:hover {
  cursor: pointer;
}

.port:active {
  cursor: move;
}
