.properties {
  grid-area: properties;
  background-color: var(---gray-500);
  box-shadow: var(--drop-shadow);
  border: var(--stroke-width) solid;
  border-color: var(--stroke-color);
  border-radius: var(--radii-border-large);
  user-select: none;
  text-align: center;
  padding-block-start: 1rem;
}
