.properties {
  grid-area: properties;
  border: 2px solid var(--color-border-primary);
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-small);
  box-shadow: var(--shadow-primary);
  user-select: none;
  padding-inline: var(--size-spacing-small);
}

.title {
  text-align: center;
  color: var(--color-text-primary);
  font-size: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-small);
  color: var(--color-text-primary);
}
