.properties {
  grid-area: properties;
  background-color: var(--gray-500);
  box-shadow: var(--drop-shadow);
  border: var(--stroke-width) solid var(--stroke-color);
  border-radius: var(--radii-border-large);
  user-select: none;
  text-align: center;
}

.title {
  font-size: 1.2rem;
  padding-inline: 1rem;
}
