.path {
  stroke-width: 4;
  stroke-dasharray: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: stream 0.5s linear infinite;
}

@keyframes stream {
  0% {
    stroke-dashoffset: 16;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
