:root {
  color-scheme: light dark;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;

  --node-height: 6rem;
  --node-width: 6rem;
  --node-border-width: 0.25rem;
  --node-border-radius: 0.5rem;
  --node-border-color: var(--neutral-500);
  --node-background-color: var(--neutral-400);
  --node-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);

  --node-title-font-size: 0.85rem;
  --node-title-color: var(--neutral-800);

  --port-width: 1.125rem;
  --port-height: 1.125rem;
  --port-border-radius: 50%;
  --port-border-width: 0.15rem;
  --port-background-color: var(--neutral-500);
  --port-border-color: var(--neutral-300);

  --content-border-radius: 0.25rem;
  --content-border-width: 0.125rem;
  --content-border-color: var(--neutral-500);
  --content-background-color: var(--neutral-200);
  --content-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --node-height: 6rem;
    --node-width: 6rem;
    --node-border-width: 0.25rem;
    --node-border-radius: 0.5rem;
    --node-border-color: var(--neutral-800);
    --node-background-color: var(--neutral-600);
    --node-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);

    --node-title-font-size: 0.85rem;
    --node-title-color: var(--neutral-200);

    --port-width: 1.125rem;
    --port-height: 1.125rem;
    --port-border-radius: 50%;
    --port-border-width: 0.15rem;
    --port-background-color: var(--neutral-600);
    --port-border-color: var(--neutral-800);

    --content-border-radius: 0.25rem;
    --content-border-width: 0.125rem;
    --content-border-color: var(--neutral-500);
    --content-background-color: var(--neutral-800);
    --content-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 1);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
