:root {
  color-scheme: light dark;
  --size-border-radius-round: 50%;

  --size-border-radius-node: 0.5rem;
  --size-border-width-node: 0.1rem;
  --size-height-node: 5rem;
  --size-width-node: 5rem;
  --size-height-input: 3rem;
  --size-font: 1.25rem;
  --size-height-port: 16px;
  --size-width-port: 16px;

  --color-border-node: black;
  --color-background-input: white;
  --color-background-numberNode: silver;
  --color-background-mathNode: deepskyblue;
  --color-path-stop-1: darkgray;
  --color-path-stop-2: gray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-border-node: hsl(0, 0%, 20%);
    --color-background-input: hsl(0, 0%, 10%);
    --color-background-numberNode: gray;
    --color-background-mathNode: darkcyan;
    --color-path-stop-1: darkgray;
    --color-path-stop-2: gray;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
