:root {
  --red: #f44747;
  --purple: #b267e6;
  --yellow: #ffcb6b;
  --green: #c3e88d;
  --black: #101010;
  --gray: #666666;
  --light-gray: #777777;

  --node-height: 8rem;
  --node-width: 8rem;
  --node-padding: 0.75rem;
  --node-border-width: 0.125rem;
  --node-border-radius: 0.35rem;
  --port-height: 1.25rem;
  --port-width: 1.25rem;
  --port-border-radius: 50%;
  --port-border-width: 0.15rem;
  --content-border-radius: 0.35rem;
  --content-border-width: 0.15rem;
  --node-title-border-radius: 0.15rem;

  --node-background-color: var(--gray);
  --node-title-background-color: var(--black);
  --node-border-color: var(--black);
  --node-title-color: var(--yellow);
  --port-background-color: var(--gray);
  --port-border-color: var(--black);
  --content-font-color: var(--green);
  --content-border-color: var(--light-gray);
  --content-background-color: var(--black);
  --focus-outline-color: var(--yellow);
  --path-color: var(--purple);

  --background: hsla(240, 1%, 66%, 1);
  ---gray-500: hsla(0, 0%, 88%, 1);
  --drop-shadow: 4px 4px 4px 1px hsla(0, 0%, 0%, 0.33);
  --stroke-width: 2px;
  --stroke-color: hsla(0, 0%, 56%, 1);
  --radii-border-large: 8px;

  color-scheme: light;
  accent-color: var(--yellow);
  background-color: var(--background);

  @media (prefers-color-scheme: dark) {
    --background: hsla(240, 1%, 15%, 1);
    --drop-shadow: 4px 4px 4px 1px hsla(0, 0%, 0%, 0.33);
    ---gray-500: hsla(0, 0%, 18%, 1);
    --stroke-width: 2px;
    --stroke-color: hsla(0, 0%, 0%, 1);
    --radii-border-large: 8px;
    --focus-outline-color: var(--green);
    --node-box-shadow: 0.35rem 0.35rem 0.25rem 0rem var(--black);
    --node-border-color: var(--light-gray);
    --port-border-color: var(--background);

    color-scheme: dark;
    accent-color: var(--green);
    background-color: var(--background);
  }
}
