.body {
  margin: 0;
  /* overflow: hidden; */
}

/* .page {
  height: 100svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
} */

.output {
  background-color: var(---gray-500);
  box-shadow: var(--drop-shadow);
  border: var(--stroke-width) solid;
  border-color: var(--stroke-color);
  border-radius: var(--radii-border-large);
  aspect-ratio: 1;
}

.properties {
  background-color: var(---gray-500);
  box-shadow: var(--drop-shadow);
  border: var(--stroke-width) solid;
  border-color: var(--stroke-color);
  border-radius: var(--radii-border-large);
  user-select: none;
  text-align: center;
  padding-block-start: 1rem;
}
