.port {
  height: var(--port-height);
  width: var(--port-width);
  border-style: solid;
  border-radius: var(--port-border-radius);
  border-width: var(--port-border-width);
  border-color: var(--port-border-color);
  background-color: var(--port-background-color);
  cursor: pointer;
}

.port:hover {
  cursor: pointer;
}
.port:active {
  cursor: move;
}

.portContainer {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  left: 0;
  height: 0;
  width: 100%;
}

.streams {
  position: absolute;
  pointer-events: none;
}
