.selector {
  border: none;
  outline: none;
  appearance: none;
  font-size: medium;
  text-align-last: center;
  color: var(--content-font-color);
  background-color: var(--node-background-color);
  width: 100%;
}

.contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--content-border-radius);
  border-color: var(--content-border-color);
  border-width: var(--content-border-width);
  border-style: solid;
  background-color: var(--content-background-color);
  cursor: grab;
}

.contentContainer:active {
  cursor: grabbing;
}

.value {
  font-size: x-large;
}
