.node {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  width: var(--node-width);
  height: var(--node-height);
  border-style: solid;
  border-radius: var(--node-border-radius);
  border-width: var(--node-border-width);
  border-color: var(--node-border-color);
  background-color: var(--node-background-color);
  box-shadow: var(--node-box-shadow);
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.node:active {
  cursor: grabbing;
}
